/* Universal */
html {
    font-size: 18px;
    font-family: Helvetica;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
div {
    display: block;
}

/* Header */ 
.header {
    background-color: black;
    color: white;
}
.header .container {
    display: flex;
    align-items: center;
}
.header img {
    padding-left: 0.5rem;
    padding-right: 1rem;
    height: 1.5rem;
}
.header span {
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
    font-size: 1rem;
}

/* Hero */
.hero {
    background-image: url("/Resources/Media/Moto.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
}
.hero .container {
     display: flex;
}
.hero .hero-text {
    background-color: black;
    color: white;
    width: 20rem;
    font-weight: bold;
    padding: 2rem 3rem;
    position: relative;
    margin-top: 9rem;
}
.hero .hero-text h4 {
    font-size: 1rem;
    padding-bottom: 1rem;
}
.hero .hero-text h1 {
    font-size: 2rem;
}

/* Nav */
nav {
    background-color: firebrick;
    width: 100%;
    color: white;
    padding: 0.75rem;
}
nav ul {
    align-items: center;
    justify-content: space-between;
    list-style: none;
    display: flex;
}
.mobile-nav {
    display: none;
}

/* Main */
.products {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.product {
    width: 30%;
}
.product-image {
    display: flex;
    border: 4px solid black;
    padding: 2rem 0rem;
    height: 9rem;
    align-items: center;
    justify-content: center;
}
.product-image img {
    max-width: 8rem;
}
.product .text {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem 0rem;
}

/* Info */
.info {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.block {
    width: 35%;
    margin-bottom: 4rem;
}
.title {
    background-color: black;
    color: white;
    display: block;
    padding: 1rem 2rem;
}

/* Footer */
footer {
    background-color: black;
    color: white;
}
footer .container {
    height: 8rem;
    display: flex;
    align-items: center;
}

/* Responsive */

/* Tablet */
@media only screen and (max-width : 1024px) {
    /* Hero */
    h4, h1 {
        font-weight: normal;
    }

    /* Nav */
    nav ul {
        display: none;
    }
    .mobile-nav {
        display: block;
        text-align: center;
    }
  
    /* Main */
    .product {
        width: 47%;
    }
    .glasses {
        display: none;
    }
    
    /* Info */
    .block {
        width: 35%;
    }
}

/* Phone */
@media only screen and (max-width : 470px) {
    /* Header */
    .header {
        display: flex;
    }
    .header span {
        display: none;
    }
    .header img {
        padding: 1rem 0rem;
    }
    
    /* Hero */
    .hero {
        height: 15rem;
    }
    .hero h4 {
        font-size: 0.77rem;
    }
    .hero h1 {
        font-size: 1rem;
    }
    .hero .hero-text {
        padding: 1rem 2rem;
        position: relative;
        margin-top: 10rem;
        width: 100%;
    }
    
    /* Nav */
    nav {
        margin-top: 3rem;
    }
    
    /* Main */
    .products {
        justify-content: center;
    }
    .product {
        width: 90%;
    }
    .watch {
        display: none;
    }
    
    /* Info */
    .container .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .block {
        width: 90%;
        margin-bottom: 1rem
    }
    
    /* Footer */
    footer {
        margin-top:  3rem;
    }
    footer .container {
        justify-content: center;
    }
}